/* Reset some default styles */
body,
h1,
h2,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #b792c8;
    color: #333;
}

/* Header Styles */
header {
    background-color: #b792c8;
    color: #000;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
}

/* Navigation Styles */
nav {
    background-color: #b792c8;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #000;
    padding: 10px 20px;
    display: inline-block;
}

/* Main Content Styles */
main {
    padding: 20px;
}

/* Home Section Styles */
#home {
    text-align: center;
    margin-bottom: 30px;
}

#home h2 {
    color: #000000;
    font-size: 2em;
    margin-bottom: 10px;
}

/* About Us Section Styles */
#about {
    text-align: center;
    margin-bottom: 30px;
}

#about h2 {
    color: #000000;
    font-size: 2em;
    margin-bottom: 10px;
}

/* Our Crystals Section Styles */
#products {
    text-align: center;
    margin-bottom: 30px;
}

#products h2 {
    color: #000000;
    font-size: 2em;
    margin-bottom: 10px;
}

/* Contact Section Styles */
#contact {
    text-align: center;
    margin-bottom: 30px;
}

#contact h2 {
    color: #000000;
    font-size: 2em;
    margin-bottom: 10px;
}

/* Footer Styles */
footer {
    background-color: #000;
    color: #b792c8;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}